.product-types-section {
    margin-bottom: 40px;
    text-align: center;
    background-color: brown;
}

.product-types-row {
    display: flex;
}

.other-product {
    display: flex;
    justify-content: center;
    flex: 2;
}
