.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.product-card-container {
    display: flex;
    justify-content: center;
}

.filter-products-div {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}